/*-- scss:defaults --*/

$presentation-h1-font-size: 3em;
$footer-bg: #75AADB;
$modal-footer-bg: red;


.title {
  font-size: 120px !important;
  color: white !important;
}

.author {
  font-size: 100px;
}

.date {
  font-size: 30px;
}

/*-- scss:rules --*/


.reveal h2 {
    text-align:center;
    float: left;
    padding:15px;
    //background-color: #4390ba;
    border: solid;
    opacity: 0.9;
    color:black;
    font-size:1.7em;

}

.reveal .footer {
background-color: white;
padding:5px;
    opacity: 0.7;
}



.reveal .hide h2 {
    opacity: 0;
}





